:root {
    --scale: 1.5;
    --splash-scale: 2;
}

@font-face {
    font-family: "Nexa";
    src: url("/assets:Nexa-ExtraLight.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Nexa";
    src: url("/assets:Nexa-Heavy.ttf") format("truetype");
    font-weight: bold;
}

#splash--container {

    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    position: fixed;

    transition: opacity 0.5s ease;

}
#splash {

    font-size: calc(50px * var(--splash-scale));
    font-family: "Nexa";

}
#loading-text {

    font-size: calc(20px * var(--splash-scale));
    font-family: "Nexa";

}

#nonsplash--container {

    opacity: 0;

    transition: opacity 0.5s ease;
    overflow: hidden;
    overflow-y: hidden;

}


#header {

    background-color: black;
    
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;
    height: calc(40px * var(--scale));

}
#header-content {

    position: absolute;

    color: white;
    left: calc(10px * var(--scale));;
    top: 50%;    
    transform: translateY(-50%);
    font-size: calc(16px * var(--scale));
    font-family: "Nexa";

}
#nickname-textbox {

    position: absolute;

    color: white;
    background-color: black;
    right: calc(10px * var(--scale));;
    top: 50%;    
    transform: translateY(-50%);
    height: calc(21px * var(--scale));
    font-size: calc(12px * var(--scale));
    font-family: "Nexa";

}
#nickname-textbox:focus {

    outline: none;
    border: calc(2px * var(--scale)) solid transparent;
    border-radius: calc(8px * var(--scale));
    border-image: linear-gradient(to right, #8400ff, #1b6aff) 0.5;

}

#footer {

    background-color: black;
    
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: calc(40px * var(--scale));

}

#message-textbox {

    position: absolute;

    color: white;
    background-color: black;
    width: calc(100% - calc(20px * var(--scale)));
    height: calc(21px * var(--scale));
    left: 50%;
    top: 50%;    
    transform: translateX(-50%) translateY(-50%);
    font-size: calc(12px * var(--scale));
    font-family: "Nexa";

}
#message-textbox:focus {

    outline: none;
    border: calc(2px * var(--scale)) solid transparent;
    border-radius: calc(8px * var(--scale));;
    border-image: linear-gradient(to right, #8400ff, #1b6aff) 0.5;

}

#messages-container {

    font-size: calc(16px * var(--scale));
    font-family: "Nexa";
    padding: calc(20px * var(--scale));
    overflow-y: scroll;

}

.gradient-lr {

    background: linear-gradient(to right, #8400ff, #1b6aff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}